body {
	margin: 0;
	font-size: 1rem;
	box-sizing: border-box;
	font-family: 'Lora', serif;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 2em;
	margin-top: 1em;
	margin-bottom: 1em;
}

nav h1 {
	margin-left: 1em;
	font-weight: 600;
	font-size: 2.5rem;
	letter-spacing: 2px;
	margin: 0;
}

ul {
	display: flex;
	justify-content: space-between;
	padding: 0;
	list-style: none;
	margin: 0;
}

ul li {
	margin: 0 1em;
	font-size: 1.4rem;
	color: gray;
}

nav ul li a {
	text-decoration: none;
	color: white;
	font-weight: 500;
	transition: color 300ms;
	border-radius: 5px;
	padding: 0.5em 1em;
	background: #038cfc;
}

ul li a:hover,
ul li a:focus {
	cursor: pointer;
	background: #fc0303;

}


 form {
 	margin-left: auto;
 	margin-right: 5em;
	 width: 500px;
 	height: 700px;
 	background: white;
 	margin-top: 1em;
 }

 .form-container {
 	display: flex;
 	flex-direction: column;
 	box-shadow: 5px 10px 20px gray; 	

 }
.form-container div {
	margin-bottom: 1em;
}

.form-container h2 {
 	background: blue;
 	padding: 0.7em 0; 
 	padding-left: 0.8em;
 	color: white;
 	font-weight: 600;
 	margin-top: 0;
 }

 .container {
 	background-image: url("background.jpg");
 	background-position: 
 	background-size: 100%;
 	width: 100vw;
 	height: 1100px;
 	background-repeat: no-repeat;
 }

.form-container input {
 	border: none;
 	margin-bottom: 5px;
 	padding-bottom: 5px;
 	border-bottom: 1px solid gray;
 	margin-left: 1em;
 	margin-top: 1em;
 	margin-right:2em;
 }


.form-container * {
	margin-left: 1em;
	text-align: left;
	font-size: 1.2rem;
}

.form-container h2 {
	margin-left: 0;
}

.form-container div input {
	margin-left: 0;
}

.form-container div p {
	margin-left: 0;
}

.form-container .radial {
	display: flex;
	align-items: center;
	margin-top:0;
	margin-bottom: 1.5em;

}

.radial input {
	margin: 0;
	margin-right: 1em;
}

.radial p {
	font-size: 1rem;
	margin: 0;
}

.form-bottom-text {
	font-size: 0.7rem;
	margin-left: 1.5em;
}

.form-btn {
	display: flex;
	justify-content: space-between;
	background: #149c29;
	border-radius: 45px;
	width: 90%;
	margin: 0 auto;
}

.form-btn .left {
	text-transform: uppercase;
	letter-spacing: 1px;
	color: white;
	font-size: 550;
	margin-left: 0.5em;
}

.form-btn .right {
	color: white;
	margin-right: 0.5em;
}

.bottom-main {
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin: 0 auto;
}

.bottom-main-left {
	display: flex;
	flex-direction: column;
	width: 40%;
}

.bottom-main-left ul, .bottom-main-right ul {
	list-style-type: disc;

}

.bottom-main-left h3, .bottom-main-right h3 {
	font-weight: 600;
	font-size: 2rem;
}

.bottom-main-left li, .bottom-main-right li {
	margin-bottom: 0.5em;
}

.bottom-main-right {
	width: 40%;
}


footer {
	display: flex;
	justify-content: center;
	padding: 2.5em 0;
	background: black;
}

footer ul li {
	margin: 0 ;
	margin-left: 5px;

}

footer ul li a {
	color: white;
	text-decoration: none;

}